@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Context.Session.GetString("Name")! </h1>


    <form method="post" asp-action="Calculadora">
        <input class="resultado" type="numeric" name="resultado" value=@ViewBag.Resultado />
        <div>
            <button type="submit" class="btn btn-warning btn-custom" name="operacion" value="suma">+1</button>
            <button type="submit" class="btn btn-primary btn-custom" name="operacion" value="resta">-1</button>
        </div>
        <div>
            <button type="submit" class="btn btn-danger btn-custom" name="operacion" value="multiplicacion">x2</button>
            <button type="submit" class="btn btn-success btn-custom" name="operacion" value="ramdom">+Random</button>
        </div>
    </form>
</div>