html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

form {
	text-align: center;
}

input {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.display-4 {
	border-bottom: 2px solid black;
	text-align: left;
}

.btn-custom {
	font-size: 20px;
	padding: 20px 20px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	margin: 5px;
	width: 150px;
	font-weight: bold;
}

.btn-custom-standard {
	font-size: 15px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	margin: 5px;
	width: 150px;
	font-weight: bold;
}

.resultado {
	border: none;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin: 10px;
	width: 300px;
}